body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px 12px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}

li {
    margin-top: 10px;
    list-style: none;
}